<!DOCTYPE html>
<html lang="en">
<link rel="icon" type="image/x-icon" href="favicon.ico">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<head>
    {% load static %}
    <app-root></app-root>
    <script src="{% static 'runtime.7774ff81d752b5d3.js' %}"></script>
    <script src="{% static 'polyfills.0ae7ecd3edb81717.js' %}"></script>
    <script src="{% static 'main.54deb9851aaf005d.js' %}"></script>
    <script src="{% static 'scripts.4929da2dad7c6c12.js' %}"></script>
    <link rel="stylesheet" href="{% static 'styles.fdaa508aa0ddcc16.css' %}">
</head>

<body>

</body>

</html>